* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-form {
  display: flex;
  flex-direction: row;
  width: 440px;
  height: 280px;
  border: 1px solid #717171;
  
}

.login-form__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

}

.login-form__content-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  padding: 40px 0;
}

.login-form__input {
  width: 240px;
}

.login-form__button-reg {
  display: block;
  height: 64px;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #74A1BB;
  background-color: #C0C0C0;
  border: none;
}

.login-form__button-reg:hover {
  color: #4A4A4A;
  background-color: #A0D3F0;
}

.login-form__button-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding: 0;
  cursor: pointer;
  color: #717171;
  background-color: #C0C0C0;
  border: none;
}

.login-form__button-enter-text {
  margin-top: -25px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 50px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  letter-spacing: -25px;
  text-decoration: none;
}

.login-form__button-enter-text:visited {
  color: #717171;
}

.login-form__button-enter:hover, 
.login-form__button-enter-text:visited:hover {
  color: #9C9C9C;
}