<div>
  <form method="post" name="userForm">
    <label>Login</label>
    <input type="text" name="account" placeholder="Здесь почта">

    <label>Password</label>
    <input type="text" name="password" placeholder="Здесь пароль">
    
    <input type="submit" value="Войти">      
  </form>
</div>
<br>
<button type="button">Регистрация</button>

<script src="login.js"></script>
