---
title: Login
cssPath:
  - login.css
---

{{!< main}} 

<div class="main">
  <form method="post" class="login-form" name="userForm">
    <div class="login-form__content">
      <div class="login-form__content-inputs">
        {{> input type="email" name="email" placeholder='Введите почту' }}
        {{> input type="password" name="password" placeholder="Введите пароль" }}
      </div>
      <a href="../SignUp/signup.hbs" class="login-form__button-reg" title="Переход на SignUp">Регистрация</a>
    </div>
    {{!-- TODO: Временно установлен тег <a> вместо <button type="submit"> --}}
    <button type="submit" class="login-form__button-enter">
      <a href="../Chats/chats.hbs" class="login-form__button-enter-text" title="Переход на Chats">Вход</a>
    </button>
  </form>
</div>