---
title: Profile
cssPath:
  - profile.css
---

{{!< main}}

<div class="main">
  <div class="profile">
    <div class="profile-header">
      <div class="profile__avatar"></div>
      <div class="profile-header__info">
        Nickname
        <div class="profile-header__additional-info">
          <span>email.email.com</span>
          <span>+1 111 111 1111</span>
        </div>
      </div>
    </div>
    <div class="profile-content">
      <div class="profile-content-item">
        <div class="profile-content-item__name">Имя</div>
        <div class="profile-content-item__value">Николай</div>
      </div>
      <div class="profile-content-item">
        <div class="profile-content-item__name">Фамилия</div>
        <div class="profile-content-item__value">Никола</div>
      </div>
    </div>
    <div class="profile-footer">
      <a class="button profile__button-edit" href="./profile-edit.hbs">Изменить</a>
      <div class="profile__button-exit-outer">
        <button class="button profile__button-exit"></button>
      </div>
    </div>
  </div>
</div>