---
title: Profile Edit
cssPath:
  - ../Signup/signup.css
  - profile.css
---

{{!< main}}

<div class="main">
  <form method="post" class="signup-form" name="editUserForm">
    <span class="signup-form__title">Редактирование</span>
    <div class="signup-form__inputs">
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Почта</label>
        <input type="email" class="signup-form__input input" name="email" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Логин</label>
        <input type="text" class="input signup-form__input" name="login" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Имя</label>
        <input type="text" class="input signup-form__input" name="firstName" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Фамилия</label>
        <input type="text" class="input signup-form__input" name="lastName" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Телефон</label>
        <input type="text" class="input signup-form__input" name="telephone" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Пароль</label>
        <input type="text" class="input signup-form__input" name="password" />
      </div>
      <br>
      <div class="signup-form__inputs-item">
        <label class="signup-form__label">Подтвердите пароль</label>
        <input type="text" class="input signup-form__input" name="passwordConfirmed" />
      </div>
    </div>
    <button type="submit" class="signup-form__button">Применить изменения</button>
  </form>
  </div>