---
title: Chats
cssPath:
  - chats.css
isChatSelected: true
---

{{!< main}}

<div class="messenger">
  <div class="messenger__left-block">
    <div class="messenger__header left-block__header">
      <button class="button button-small"><a href="../Profile/profile.hbs"><img src="../../assets/svg/button-options.svg" alt="options"></a></button>
      <input type="text" class="input-search-chat" placeholder="Поиск" name="searchChat"></input>
    </div>
    <div class="chats-block">
      {{> [chat-item] isActive=true title="Интересная беседа" time="15:23" mess="Тут было что-то написано..." }}
      {{> [chat-item] title="Название чата" time="9:25" mess="Тут было что-то написано..." amount="2"}}
      {{> [chat-item] title="Название чата" time="4:13" mess="Тут было что-то написано..." amount="15"}}
      {{> [chat-item] title="Название чата" time="пт" mess="Тут было что-то написано..." amount=8}}
      {{> [chat-item] title="Название чата" time="чт" mess="Тут было что-то написано..."}}
      {{> [chat-item] title="Название чата" time="чт" mess="Тут было что-то написано..." amount="999"}}
    </div> 
  </div>
  <div class="messenger__main-block">
    {{#if isChatSelected}}
    <div class="messenger__header main-block__header">
      <!-- Кнопка должна создавать новый чат если нет активного чата, иначе - добавлять в активный чат нового учатсника -->
      <button class="button button-small"><img src="../../assets/svg/button-add.svg" alt="add"></button>
      <button class="button button-small"><img src="../../assets/svg/button-options.svg" alt="options"></button>
      <span class="main-block__header-title">Интересная беседа</span> 
      <button class="button button-small button-close"><img src="../../assets/svg/button-close.svg" alt="close"></button>
    </div>
    <div class="main-block__chat-block">
      <div class="chat-block__chat">
        <div class="chat__date">18 марта</div>
        
        <div class="chat__message">
          <div class="chat__message-inner chat__message_from">
            Таким образом сложившаяся структура организации в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание систем . . . . . . . . . . . . . . . . .
            <span class="chat__message-time chat__message-time_from">21:17</span>
          </div>     
        </div>

        <div class="chat__message">
          <div class="chat__message-inner chat__message_from">
            asd
            <span class="chat__message-time chat__message-time_from">21:20</span> 
          </div>
        </div>

        <div class="chat__message">
          <div class="chat__message-inner chat__message_from">  
            Посмотрим на деле как будет, хорошо?
            <span class="chat__message-time chat__message-time_from">21:20</span>
            <div class="chat__message-avatar chat__message-avatar_from"></div>
          </div>      
        </div>

        <div class="chat__message">
          <div class="chat__message-inner chat__message_to">
            Ок понял Ок ячсячс.ывфью выюьювбы sad s
            <span class="chat__message-time chat__message-time_to_recd">21:20</span> 
          </div>        
        </div>

        <div class="chat__message">
          <div class="chat__message-inner chat__message_to">
            Ок понял Ок ячсячс.ывфью выюьювбы
            <span class="chat__message-time chat__message-time_to_sent">22:15</span> 
          </div>        
        </div>
        <div class="chat__message">
          <div class="chat__message-inner chat__message_to">
            <span>:)</span>
            <span class="chat__message-time chat__message-time_to_sent">22:15</span>
            <div class="chat__message-avatar chat__message-avatar_to"></div>
          </div>          
        </div>
      </div>
    </div>
    <div class="main-block__send-block">
      <button class="button button-staple"></button>
      <input type="text" class="input-send" name="inpuntSend" placeholder="Ваше сообщение..."> 
      <button type="submit" class="button button-send">SEND</button> 
    </div>
    {{/if}}
  </div>
</div>