<div class="main">
  <div class="error">
    <div class="error__title">{{ errorTitle }}</div>
    <div class="error__info">{{ errorInfo }}</div>
    <a href="../Chats/chats.hbs" class="error__link">Вернуться к чатам</a>
  </div>
</div>