.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-Exo);
}

.error__title {
  font-size: 56px;
  font-weight: bold;
}

.error__info {
  font-size: 24px;
}

.error__link {
  margin-top: 60px;
  font-size: 18px;
}