<div class="main">
  <div class="error-block">
    <div class="error-block__title">{{ errorTitle }}</div>
    <div class="error-block__info">{{ errorInfo }}</div>
    <a href="../Chats/chats.hbs" class="error-block__link">Вернуться к чатам</a>
  </div>
</div>